@font-face {
    font-family: "NeoDunggeunmo";
    src: url("../fonts/NEODGM.ttf");
}

.findpassword-root {
    -fx-background-color: #ffffff;
    -fx-background-image: url("../images/background.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-font-family: "NeoDunggeunmo";
}

/*  중앙 반투명 흰 배경 크기 고정 */
.findpassword-container {
    -fx-background-color: rgba(255, 255, 255, 0.75);
    -fx-background-radius: 20;
    -fx-padding: 24;
    -fx-pref-width: 380px;
    -fx-pref-height: 210px;
    -fx-max-width: 400px;
    -fx-max-height: 230px;
}

.findpassword-title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #FFA6BA, 3, 1, 1, 1);
}

.findpassword-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.findpassword-input {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color: #CFCFCF;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-pref-height: 30;
    -fx-pref-width: 180;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #C0C0C0;
}

.findpassword-button {
    -fx-background-color: #FFABBD;
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 4 14;
}

.findpassword-button:hover {
    -fx-background-color: #ff1493;
    -fx-effect: dropshadow(gaussian, rgba(255, 20, 147, 0.4), 8, 0, 0, 2);
}

.findpassword-hint-text {
    -fx-font-size: 13px;
    -fx-text-fill: #757575;
}