@font-face {
  font-family: "NeoDunggeunmo";
  src: url("../fonts/NEODGM.ttf");
}

.root {
  -fx-background-color: #ffffffff;
  -fx-background-image: url("../images/background.png");
  -fx-background-size: cover;
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-font-family: "NeoDunggeunmo", "Segoe UI",sans-serif;
}

/* 미니룸 컨테이너 */
.miniroom-container {
  -fx-padding: 20;
}

/* 미니룸 메인 영역 */
.miniroom-pane {
  -fx-background-color: #ffffffff;
  -fx-border-color: pink;
  -fx-border-width: 8;
  -fx-border-radius: 10;
  -fx-background-radius: 14;
  -fx-padding: 6;
  -fx-effect: dropshadow(gaussian, pink, 5, 0.2, 0, 0);
  /*0 15px 0 0 black;*/

}

/* 우측 메뉴 버튼들 */
.menu-buttons {
  -fx-spacing: 15;
}

.menu-btn {
  -fx-background-image: url("../images/btn-Retro.png");
  -fx-background-color: transparent;
  -fx-background-size: contain;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-padding: 0;
  -fx-effect: null;
  -fx-pref-width: 180;
  -fx-pref-height: 74;
  -fx-alignment: center;
}

.menu-btn:hover {
  -fx-effect: dropshadow(gaussian, #06bfff, 10, 0, 0, 0);
}

.menu-btn:pressed {
  -fx-background-color: transparent;
  -fx-effect: null;
}

.menu-btn-label {
  -fx-text-fill: black;
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-font-family: "NeoDunggeunmo", "Segoe UI", sans-serif;
  -fx-alignment: center;
  -fx-text-alignment: center;
  -fx-translate-x: 5;
  -fx-translate-y: -3;
}