.label-side{
    -fx-font-family: "NeoDunggeunmo";
}

.clean-textarea {
    -fx-text-fill: #333333;
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: none;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.clean-textarea .scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: none;
}

.clean-textarea .viewport {
    -fx-background-color: transparent;
}

.clean-textarea .content {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-effect: none;
}

.clean-textarea .scroll-bar {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-effect: none;
}

.clean-textarea .prompt-text {
    -fx-prompt-text-fill: #999999;
}

.clean-textfield {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-effect: none;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: inherit;
}

.feedback-correct {
    -fx-fill: green;
    -fx-font-weight: bold;
}

.feedback-wrong {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.pagination-arrow {
    -fx-font-size: 20px;
    -fx-text-fill: #8B5E5E;
    -fx-cursor: hand;
}

.page-dot {
    -fx-background-color: #ffffff;
    -fx-background-radius: 100; /* 동그랗게 */
    -fx-text-fill: white;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-alignment: center;
    -fx-font-size: 12px;
    -fx-padding: 0;
}
.page-dot.selected {
    -fx-background-color: #EA8A94;
}

.page-dot-current {
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
}

.page-dot-inactive {
    -fx-text-fill: #aaaaaa;
    -fx-font-size: 18px;
}

.page-dot-current:hover,
.page-dot-inactive:hover {
    -fx-cursor: hand;
    -fx-font-size: 20px;
}