@font-face {
    font-family: "NeoDunggeunmo";
    src: url("../fonts/NEODGM.ttf");
}

.signupcomplete-root {
    -fx-background-color: #ffffff;
    -fx-background-image: url("../images/background.png"); /* ✅ CSS에서 배경 설정 */
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-font-family: "NeoDunggeunmo";
}

/* 텍스트 라벨 */
.signupcomplete-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #FFA6BA, 3, 1, 1, 1);
}

/* 버튼 */
.signupcomplete-button {
    -fx-background-color: #FFABBD;
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 6 18;
}

.signupcomplete-button:hover {
    -fx-background-color: #ff1493;
    -fx-effect: dropshadow(gaussian, rgba(255, 20, 147, 0.4), 8, 0, 0, 2);
}